@-webkit-keyframes shake{
  0%{-webkit-transform-origin:50% 50%; -webkit-transform:translate(0px,0px) rotate(0deg)}
  25%{-webkit-transform-origin:50% 50%;-webkit-transform:translate(2px,1px) rotate(-1deg)}
  50%{-webkit-transform-origin:50% 50%;-webkit-transform:translate(1px,3px) rotate(0deg)}
  75%{-webkit-transform-origin:50% 50%;-webkit-transform:translate(2px,0px) rotate(1deg)}
  100%{-webkit-transform-origin:50% 50%;-webkit-transform:translate(0px,0px) rotate(0deg)}
}

.shake {
  -webkit-animation-name:shake;
  -webkit-animation-duration:.3s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear
}
