html,body,input {
  font-family: Helvetica !important;
  font-weight:bold;
  color:#666;
}

label {
  font-size: 18px;
  margin: 0 auto;
}


#background {
  width:100%;
  height:100%;
  position:absolute;

  background-image: -webkit-gradient(linear, center bottom, center top, color-stop(0%, #fcf1cf), color-stop(35%, #19cdf5), color-stop(100%, #2a8398));
  background-image: -webkit-linear-gradient(bottom, #fcf1cf 0%, #19cdf5 35%, #2a8398 100%);
  background-image: -moz-linear-gradient(bottom, #fcf1cf 0%, #19cdf5 35%, #2a8398 100%);
  background-image: -ms-linear-gradient(bottom, #fcf1cf 0%, #19cdf5 35%, #2a8398 100%);
  background-image: -o-linear-gradient(bottom, #fcf1cf 0%, #19cdf5 35%, #2a8398 100%);
  background-image: linear-gradient(to top, #fcf1cf 0%, #19cdf5 35%, #2a8398 100%);

}

#navbar {
  background:black;
  text-align:center;
}

#afui {
  background:transparent !important;
  z-index:100;
}

#header h1 {
  text-align:center;
  text-shadow:10px;
}

.padder {
  padding-top:30px;
}

@-webkit-keyframes record_popup_out {
  0% { opacity: 0;}
  30% { opacity:1;
    box-shadow:0px 0px 50px rgba(0,255,255,0.5);
  }
  45% { 
    box-shadow:0px 0px 20px rgba(0,255,255,0.5);
  }  
  55% { 
    box-shadow:0px 0px 50px rgba(0,255,255,0.5);
  }

  65% { 
    box-shadow:0px 0px 20px rgba(0,255,255,0.5);
  }  
  80% { opacity: 1;
    box-shadow:0px 0px 50px rgba(0,255,255,0.5);
  }
  100% { opacity: 0;}
}

.record_popup_out {
  -webkit-animation: record_popup_out 3s;
  opacity:1;
}

.record_popup {
  opacity:0;
  position:absolute;
  margin:0px auto;
  font-size:35px;
  text-align:center;
  padding:20px;
  border-radius:5px;
  z-index:100;
  top:50px;
  width:100%;
  box-shadow:0px 0px 20px rgba(0,255,255,0.5);
  background:rgba(0, 80, 80, 0.8);
  color:#fff
}


@-webkit-keyframes grow_label {
  0% {font-size: 10px; opacity:0 }
  100% { font-size: 60px; opacity:1 }
}


@-webkit-keyframes grow_number {
  0% {font-size: 35px; opacity:0}
  100% { font-size: 135px; opacity:1 }
}

#score_label {
  font-size:10px;
  position:absolute;
  opacity:0;
  left:40px;
}

.score_label_big {
  -webkit-animation: grow_label 1s;
  font-size:60px !important;
  opacity:1 !important;
}

#score_number {
  padding-top:35px;
  font-size:20px;
  opacity:0;
  position:absolute;
  right:40px;
}

.button {
  font-weight:normal;
  text-shadow:0px 1px 1px #666;
  color:rgba(200,200,200,1);
  font-size:26px;
  margin:10px 10px 20px;
  height:45px;
  /* height:55px !important; */
  padding:5px 20px 13px;
  background:rgba(0, 80, 80, 0.8);
  box-shadow:0px 0px 20px rgba(0,255,255,0.5);
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
}

.button.pressed, .button.selected {
  /* margin-top: 9px;
  margin-left: 9px; */
  box-shadow: 0px 1px 10px 0px #444;
}

.box {
  margin-bottom:20px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 10px 10px 5px #999;
  box-shadow: 0 0 3px 0px #888;
}

.box a,
.box li {
  font-weight:normal;
}

.box ul li {
  border-top: 1px solid rgba(102, 102, 102, 0.4);
}

.box ul li a,
.box ul li.wrapper {
  padding:15px 10px 40px;
}

.box a:active {
  color:#333;
  background-color: rgba(200,200,200,0.3);
}

.box ul {
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
}

.box_big {
  width:100%;
  font-size:25px;
}

.box_big div {
  padding:20px;
  line-height:35px;
  font-size:25px;
  color:rgba(200,200,200,1) !important;
}

.box h3{
  padding:15px;
  text-shadow:0px 1px 1px #666 !important;
  -moz-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;
  background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(10, 10, 10, .95)),to(rgba(60, 60, 60, .95)));
}

.left {
  float:left;
  text-align: left;
}

.right {
  float: right;
  text-align: right;
}


.panel {
  padding: 15px;
}

.panel_header {
  height:70px;
  -webkit-perspective: 800;
}

.panel_content {
  margin-top:180px;
  position:relative;
}

.panel_footer {
  margin-top:20px;
  text-align:center;
}

.panel h3 {
  font-size: 26px;
  font-weight: normal !important;
  text-shadow:0px 1px 1px #fff;
  color:rgba(200,200,200,1);
}

.game_running, .game_running_opponent {
  text-shadow: 0px 0px 5px #777;
  font-weight: normal !important;
}

.game_won {
  text-shadow: 0px 0px 5px #4F4;
}

.game_lost {
  text-shadow: 0px 0px 5px #F44;
}

.center {
  display: table;
  margin: auto;
  text-align: center;
}

.game_completed .left, 
.game_completed .right, 
.game_running .left, 
.game_running .right,
.game_running_opponent .left, 
.game_running_opponent .right 
{
  width: 100px;
}

.requesting_player {
  display:none;
}

#topten {
  color:rgba(200,200,200,1);
}

#topten li {
   height:70px;
   padding:10px 20px 65px;
   position:relative;
}

#topten li span {
}

#topten .player_pos {
  font-size:25px;
}

#topten .player_avatar {
  left 0px !important;
}
#topten .player_name {
  left:75px;
}

#topten .player_score {
  font-size:15px;
  color:#aaa;
}


#settings_button {
    background: url('images/cog.png') no-repeat;
    width: 50px;
    height: 50px;
    display: block;
    background-size: 49px;
    margin: 10px;
}

.ads {
  display: none;
}

.description {
  box-shadow: rgba(50, 50, 50, 0.5) 0px 0px 43px inset;
  border-radius: 23px;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;

}

.avatar {
  width:135px !important;
  position:relative;
}

.avatar img {
  border-radius:10px;
  margin: 0px 5px 0px 5px;
}

.player_name {
  position:absolute;
  width:100px;
  display:block;
}

.player1_name {
  right:0px;
  text-align:left;
  padding-left:30px;
}

.player1_avatar {
  left:0px;
}

.player2_name {
  left:0px;
  text-align:right;
  padding-right:30px;
}

.player2_avatar {
  right:0px;
}

.player_avatar {
  position:absolute;
}


#avatar_list {
  width:180px;
}

#avatar_list ul li {
 float:left;
 display:inline;
 margin-left:10px;
 width:50px;
}

.wodrs_avatar {
  width:50px;
  height:50px;
  border-radius:8px;
  box-shadow:0px 0px 10px transparent;
}

.wodrs_avatar_selected {
  box-shadow:0px 0px 20px rgba(0,255,255,1);
}

.settings_content {
 padding:10px 80px;
}

.feedback {
  -webkit-transition:all 1s;
  color:rgba(100,100,100,0.7);
  font-size:50px;
  position:absolute;
  left:170px;
  top:45px;
  opacity:0;
}

.feedback_on {
  opacity:1;
  top:0px;
}

