#jq_console {
  z-index:10000;
  position: absolute;
  width: 100%;
  height: 0px;
  overflow:auto;
  top: 0px;
  left:0px;
  background-color: #eee;
  box-shadow: 0px 0px 40px #555;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  -webkit-transition: height 1s;
}

#jq_console.jq_console_show {
  height: 200px;
}

#jq_console li {
  margin:0;
  padding:0;
  top:0px;
  padding-left: 10px;
  border-bottom: 1px dotted #ccc;
  font-family: monospace;
  font-size: 12px;
  list-style: none;
}

#jq_console li.error{
  background-color: #fcc;
}

#jq_console li div.right {
  max-width: 300px;
  padding-right: 10px;
  float: right !important;
  word-wrap: break-word;
}

#jq_console li div.left {
  float: left !important;
}
